# Data Science Tools and Ecosystem

Data Science Tools and Ecosystem are summarized

__Objectives:__
-  Python
-  R
-  Julia
-  javascipt
-  Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

# Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
a ,b,c = 3,4,5 
x = (a*b)+c
print(x)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
m = 200/60
print(m)

3.3333333333333335

## Author
Vinay Kumar Maachanoor